@font-face {
    font-family: 'din_alternatebold';
    src: url('../fonts/din_alternate_bold-webfont.woff2') format('woff2'),
         url('../fonts/din_alternate_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	background-color: #0000FF; /* Colors.blue in js */
    color: #fff;
    font-family: 'din_alternatebold';
    font-size: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
}

.button {
  display: inline-block;
  margin: 20px 20px 40px;
  padding: 4px;
  cursor: pointer;
  border: solid 1px rgba(255, 255, 255, 0);
  transition: border 0.2s ease;
  box-sizing: border-box;
  cursor: pointer;
      vertical-align: middle;
}

.button:hover {
  border: solid 1px rgba(255, 255, 255, 1);
}

.slider-container {
    border: none;
    padding: 0;
}

.slider-container:hover {
    border: none;
}

.slider {
    -webkit-appearance: none;
    height: 1px;
    cursor: pointer;
}

.slider-label {
    margin-bottom: 4px;
}

input:focus {
    outline: none;
}

input[type="range" i]::-webkit-slider-thumb, input[type="range" i]::-webkit-media-slider-thumb {
    -webkit-appearance: none;
    background: transparent;
    height: 15px;
    width: 15px;
    border-radius: 50em;
    border: solid 1px #fff;
    cursor: pointer;
}

.hudCanvas {
	top: 0;
	position: absolute;
}

.ui {
	position: absolute;
    top: 0;
}

.ui .graph {
  display: block;
	stroke: #fff;
	stroke-width: .5;
	fill: none;
}

.graph text {
	stroke: none;
	fill: #fff;
}

.graph .scrub-line {
	stroke-width: 1;
}

.graph-container .title {
	margin: 20px 24px 0;
}
