@font-face {
    font-family: 'din_alternatebold';
    src: url('../fonts/din_alternate_bold-webfont.woff2') format('woff2'),
         url('../fonts/din_alternate_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trade_gothic';
    src:
    url('../fonts/TradeGothicLTPro-BdCn20-2398aeccf6aac8e2f2c0e2bcda9dc7d3.woff') format('woff'), url('../fonts/TradeGothicLTPro-BdCn20-2398aeccf6aac8e2f2c0e2bcda9dc7d3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova';
    src:
    url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'); url('../fonts/TradeGothicLTPro-BdCn20-2398aeccf6aac8e2f2c0e2bcda9dc7d3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
    background-color: #000;
    color: #fff;
    font-family: 'trade_gothic';
    font-size: 8px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: left;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.break-span {
  white-space: nowrap;
}

canvas {
    cursor: crosshair;
}

.loading, .shroud, .nav-instructions {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.loading.done {
    opacity: 0;
}

.solar {
    line-height: 0;
    letter-spacing: -3px;
}

.solar sub {
    font-size: 16px;
}

.loading-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    letter-spacing: 0.125em;
    color: #0078fb;
}

.loading-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(../images/loading-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 6px;
    vertical-align: middle;
}

.shroud {
  pointer-events: none;
  opacity: 0;
  display: none;
  transition: opacity 0.25 ease;
}

.shroud.shown {
  opacity: .6;
  display: block;
}

.nav-instructions {
  display: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25 ease;
}

.nav-instructions.shown {
  display: block;
  pointer-events: all;
  background: transparent;
  opacity: 1;
}

.panel {
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-transform: none;
  font-size: 12px;
  line-height: 1.3em;
  opacity: 0;
  transition: opacity .25s ease;
  pointer-events: none;
  font-family: 'proxima_nova';
}

.panel-shown {
  opacity: 1;
  pointer-events: auto;
}

.column {
    width: 44%;
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: bottom;
    text-align: left;

}

.panel .header {
    font-family: 'trade_gothic';
    font-size: 1.4em;
  line-height: 1.5em;
}

.panel.intro {
  width: 70vw;
}

.panel.camera-controls .column {
  width: auto;
}

.next-button, .start-button {
  margin: 40px 0 0px;
  color: rgba(255,255,255,0);
  transition: color .25s ease;
  font-size: 56px;
  cursor: pointer;
  color: rgba(255,255,255,.33);
  position: relative;
  display: inline-block;
  line-height: 0;
  font-family: 'trade_gothic';
  width: 50px;
  height: 50px;
  z-index: 1;
}

.skip-button {
    text-transform: uppercase;
    font-family: trade_gothic;
    margin-top: -20px;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.next-button:hover, .start-button:hover {
  color: white;
}

.next-button:before, .start-button:before {
    content: "next";
        text-transform: uppercase;
        position: absolute;
        font-size: 14px;
        -webkit-text-stroke-width: 0px;
        color: #fff;
        left: 50%;
        /* top: 80%; */
        transform: translate(-50%,7px);
        /* height: 14px; */
        transition: color .25s ease;
}

.start-button:before {
  content: "start";
}

.next-button:hover:before, .start-button:hover:before {
  /*color: black;*/
  mix-blend-mode: difference;
}

.animation-controls, .polarization-controls, .transform-controls, .render-controls {
max-width: 400px;
}

.animation-controls .next-button, .polarization-controls .next-button, .transform-controls .next-button, .render-controls .next-button {
  right: -70px;
  position: absolute;
  top: 50%;
  margin: 0;
}

.animation-controls .skip-button, .polarization-controls .skip-button, .transform-controls .skip-button, .render-controls .skip-button {
  right: -80px;
  position: absolute;
  top: 80px;
}

.animation-controls .skip-button {
	top: 60px;
}

.panel .icon {
  width: 50px;
  height: 50px;
}

.arrow-icon {
  width: 100px !important;
  position: absolute;
  left: -70px;
  top: -10px;
  margin: 0;
  background-image: url(../images/arrow.svg);
}

.scroll-icon {
    background-image: url(../images/scroll-icon.svg);
    width: 30px !important;
}

.drag-icon {
    margin-left: -10px;
    background-image: url(../images/drag-icon.svg);
}

.measure-icon {
    margin-left: -10px;
    background-image: url(../images/measure-icon.svg);
}

.measurements {
    min-width: 250px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.25s ease;
    cursor: crosshair;
    transform: translate(10%,-100%);
}

.flipped {
  transform: translate(-110%, -100%);
  text-align: right;
}

.full-opacity {
    opacity: 1;
}

.measurements.full-opacity.point-locked {
  top: 50px;
  left: 100%;
  transform: translate(60%, -100%);
}

.ui {
	position: absolute;
  top: 30px;
}

.picker-label {
    font-size: 2em;
    margin: 20px 32px 0;
    padding: 4px;
}

.button {
  margin: 10px 45px 10px;
  padding: 4px;
  cursor: pointer;
  border: solid 1px rgba(255, 255, 255, 0);
  transition: border 0.2s ease;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: middle;
  opacity: .5;
}

.button.selected {
    opacity: 1;
}

.button:hover {
  text-decoration: underline;
}

.slider-container {
    border: none;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0px 10px 10px;
}

.slider-container:hover {
    border: none;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 1px;
    cursor: pointer;
    margin: 0;
}

.slider-label {
    margin-bottom: 4px;
}

input {
	-moz-appearance: none;
}

input:focus {
    outline: none;
}

input[type="range" i]::-webkit-slider-thumb, input[type="range" i]::-webkit-media-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    height: 15px;
    width: 15px;
    border-radius: 50em;
    border: solid 1px #fff;
    cursor: pointer;
}


input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #fff;
    border-radius: 0;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid #fff;
    height: 15px;
    width: 15px;
    border-radius: 50em;
    background: transparent;
    cursor: pointer;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid transparent;
    outline-offset: -1px;
}

.graph-section {
  display: block;
  position: fixed;
  bottom: 30px;
}

.ui .graph {
  display: block;
	stroke: #fff;
	stroke-width: 1;
	fill: none;
}

.graph text {
	stroke: none;
	fill: #fff;
}

.graph .scrub-line {
	stroke-width: 1;
}

.graph-container, .graph-container-2 {
  display: inline-block;
}

.graph-container .title,  .graph-container-2 .title{
	margin: 20px 24px 0;
}

.legend {
    margin-left: 44px;
}

.legend-item, .measurements .item {
    margin: 2px 0;
}

.legend-item div,
.measurements .item div {
    display: inline-block;
}

.unit {
    text-transform: lowercase;
}

.bh-velocity-data {
    color: #ff334b;
}

.bh-separation-data {
    color: #e2069c;
}

.button {
    margin-bottom: 10px;
}

.shifted {
    margin-left: 38px;
}

.data-icon {
    display: inline-block;
    margin: 0 0 0 32px;
    vertical-align: top;
}

.data-icon:last-child {
    margin: 0 0 0 12px;
}

.icon-label {
    margin-bottom: 4px;
}

.pause {
    width: auto;
    display: inline-block;
    border: none;
    margin: 10px 0 10px 39px;
}

.pause-rect {
    width: 4px;
    height: 16px;
    border: solid 1px #fff;
    background: transparent;
    transition: background .1s ease;
    display: inline-block;
}

.pause-triangle {
    width: 12px;
    height: 12px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
    transition: color .1s ease;
    font-size: 16px;
}

.pause:hover {
    border: none;
}

.pause:hover .pause-rect {
    background: #fff;
}

.pause:hover .pause-triangle {
    color: #fff;
}

.pause.playing .pause-triangle {
    display: none;
}

.pause:not(.playing) .pause-rect {
    display: none;
}

.pause:not(.playing) .pause-triangle {
    display: inline-block;
}

.reset {
    display: inline-block;
    margin: 10px 0px 10px 10px;
}

.transform, .render-style, .polarization {
    padding: 0;
}

.transform.flat, .render-style.mesh, .polarization.plus {
    margin-top: 25px;
}

.icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 6px;
    vertical-align: middle;
}

.polarization-icon.plus {
    background-image: url(../images/plus-icon.svg);
}

.polarization-icon.cross {
    background-image: url(../images/cross-icon.svg);
}

.transform-icon.flat {
    background-image: url(../images/flat-icon-01.svg);
}

.transform-icon.expanded {
    background-image: url(../images/expanded-icon-01.svg);
}

.render-icon.mesh {
    background-image: url(../images/mesh-icon-01.svg);
}

.render-icon.nodes {
    background-image: url(../images/nodes-icon.svg);
}

.graph-container.shown {
    display: inline-block;
}

.line.hole-distance {
  stroke: #e2069c;
}

.line.hole-velocity {
  stroke: #ff334b;
}

.mode-select {
    width: 100%;
    text-align: center;
}

.button.mode {
    display: inline-block;
    font-size: 1.2em;
    opacity: 1;
}
